:root {
  --background-color: #F9F8F6;
  --accent-color: #C9B59C; 
  --font-color: #24211d;
  --p-font-color: #6a635c;
  --font-family: 'Segoe UI', sans-seriff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
  color: var(--font-color);
  font-size: 16px;
}

svg {
  width: 20px;
  height: 20px;
  fill: var(--p-font-color);
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

p, span {
  font-size: 16px;
  color: var(--p-font-color);
}

.container {
  padding: 0 300px;
}

.section-heading {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 16px;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 240px;
  align-items: center;
  height: 60px;
  background-color: var(--accent-color);
}

nav .logo {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}

nav div {
  display: flex;
  gap: 10px;
}

nav button {
  padding: 6px 12px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  border: none;
  outline: none;
}

nav button:hover {
  background-color: #aa957e;
  cursor: pointer;
  border-radius: 2px;
}

/* MAIN */
main {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0 32px;
  margin-bottom: 16px;
}

main img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

main p {
  word-wrap: break-word;
  text-align: center;
}

main .socials-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

main .horizontal-divider {
  border: .2px solid #e7e6e4;
  width: 800px;
  margin: 16px 0;
}

/* HABILIDADES */
.habilidades-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.habilidades span {
  padding: 6px 12px;
  color: var(--accent-color);
  background-color: #EFE9E3;
  border-radius: 4px;
}

/* EXPERIÊNCIAS */
.experiencias-container {
  display: flex;
  flex-direction: column;
}

.experiencia {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

.vertical-divider {
  border-left: 3px solid var(--accent-color);
}

/* SOBRE MIM */
.sobre-container {
  margin-bottom: 32px;
}