:root {
  --background-color: #F9F8F6;
  --accent-color: #C9B59C; 
  --font-color: #fff;
  --font-family: 'Poppins', sans-seriff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
  color: var(--font-color);
  font-size: 24px;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 160px;
  height: 60px;
  background-color: var(--accent-color);
}

nav span {
  font-weight: 600;
}

nav div {
  display: flex;
  gap: 10px;
}

nav button {
  padding: 6px 12px;
  background-color: transparent;
  color: var(--font-color);
  border: none;
  outline: none;
}

nav button:hover {
  background-color: #aa957e;
  cursor: pointer;
  border-radius: 2px;
}